<h1 class="my-5 text-center">Welcome to the Friends App!</h1>

<div class="container text-center">
  <p class="lead my-4">
    Connect with your friends, keep track of your favorite people, and build your own social network.
  </p>
  <p class="my-3">
    <% if user_signed_in? %>

    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-secondary mx-2", data: { turbo: false } %>

    <% else %>

    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary mx-2" %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary mx-2" %>

    <% end %>
  </p>
</div>
